*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p{
  font-size: 20px;
}
h1{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}
a {
  color: #00B7FF;
  font-size: 18x;
  margin-left: 30px;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
input{
  padding: 5px;
}
